/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* debug */

.debug .container{
    border: 2px solid black;
    padding: 20px;
}

.debug .row{
    border: 2px solid red;
    padding: 20px;
}

.debug .col{
    border: 2px solid violet;
    min-height: 100px;
    padding: 20px;
}