               /* Reset */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

img{
    max-width: 100%;
}

menu,
ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

                           /* layout */

.row{
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}




                           /* HEADER  */

.nav .row{  
    justify-content: space-between;
}

.logo{
    padding: 10px;
    border: 1px solid yellow;
}

.login{
    padding: 10px;
    border: 1px solid yellow;
}

.menu-link{
    padding: 10px;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    gap: 10px;
}


                          /* MAIN */

.container-piccolo{
    max-width: 500px;
    margin: 0 auto;
    min-height: 300px;
}

.container-medio{
    max-width: 700px;
    margin: 0 auto;
    min-height: 500px;
}

.justify-center{
    justify-content: center;
}

.col{
    border: 1px solid yellow;
}

.col-big{
    width: 60%;
    border: 1px solid yellow;
}

.col-small{
    width: 40%;
    border: 1px solid yellow;
}

.row-reverse{
    flex-direction: row-reverse;
}

.bg-gray{
    background-color: lightgray;
}

                       /* FOOTER */

.justify-between{
    justify-content: space-between;
}

.bottone{
    padding: 10px;
    border: 1px solid yellow;
}

.col-divisosei{
    width: calc(100% / 6);
    border: 1px solid yellow;
    padding: 10px;
    min-height: 200px;
}

.col-divisotre{
    width: calc(100% / 3);
    border: 1px solid yellow;
    padding: 10px;
    min-height: 200px;
}



                            /* debug */



.debug .container, .container-piccolo, .container-medio{
    border: 1px solid red;
    padding: 4px;
}

.debug section{
    padding: 32px 0;
}

.debug .discord-header{
    background-color: aquamarine;
    padding: 20px 0;
}

.debug .discord-footer{
    background-color: rgb(50, 48, 48);
    padding: 20px 0;
}

.debug .bg-blue{
    background-color: dodgerblue;
}

.debug .col-big{
    min-height: 200px;
}

.debug .col-small{
    min-height: 200px;
}